<mat-toolbar class="app-header">
	<a [routerLink]="['/']">
        <img src="assets/logo_SCCON.svg"  height="74" alt="SCCON" title="Santiago &amp; Cintra Consultoria" data-mobile-logo="https://www.sccon.com.br/wp-content/uploads/2018/10/logo-sccon-header.png">
	</a>

	<span class="app-header spacer"></span>
		<!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
		  <mat-icon>menu</mat-icon>
		</button> -->
	<button mat-raised-button [routerLink]="['/']">Home</button>
	<button mat-raised-button [matMenuTriggerFor]="menu">Endereços</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item [routerLink]="['/address/searchCep']">Buscar Endereços</button>
	</mat-menu>

</mat-toolbar>
