<div class="container-fluid content-wrapper">

    <h1 class="page-title">Busca de Endereços </h1>
    <div class="section-card">
		<form [formGroup]="addressDetailsForm" (ngSubmit)="onSubmitAddressDetails()" class="group">
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Busca por CEP:</mat-label>
				<input matInput mask="00.000-000" formControlName="cep" type="text" required>
				<mat-hint *ngIf="error">
					O CEP consultado não foi encontrado na base de dados
					<mat-icon aria-hidden="false" aria-label="Fechar aviso" (click)="closeError()">close</mat-icon>
				</mat-hint>
				<mat-error *ngFor="let validation of validationMessages.cep">
					<mat-error class="error-message" *ngIf="addressDetailsForm.get('cep').hasError(validation.type) && (addressDetailsForm.get('cep').dirty || addressDetailsForm.get('cep').touched)">{{validation.message}}</mat-error>
				</mat-error>
			</mat-form-field>
			<button mat-raised-button type="submit" [disabled]="!addressDetailsForm.valid">Buscar</button>
		</form>
	</div>
	<app-search-list></app-search-list>
</div>
