:host {
  // Default variables
  --page-title-color: #{palette-color('primary')};
  --page-padding: 60px 40px;
  --page-spacing: 10px;
  --section-card-background: #{palette-color('white')};
  --form-icons-color: #{palette-color('primary')};
}

.content-wrapper {
  padding: var(--page-padding);

  .page-title {
    color: var(--page-title-color);
    font-size: 30px;
    margin-bottom: calc(var(--page-spacing) * 6);
  }

  .section-card {
    padding: calc(var(--page-spacing) * 4);
    background-color: var(--section-card-background);
    margin: 0px;
    margin-bottom: calc(var(--page-spacing) * 4);
    border-radius: 6px;

    .group {
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 150px;
      max-width: 600px;
      width: 100%;

      .full-width {
        width: 70%;
      }
    }
  }
  .card {
      min-height: 200px;
      border: none;
      border-radius: 6px;
      margin-bottom: calc(var(--page-spacing) * 3);

      .card-description {
        font-size: 18px;
        color: var(--text-color);
      }

      .card-body {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        padding: calc(var(--page-spacing) * 5);

      }
    }

    .row button
    {
      margin-right: 8px;
    }
  }


::ng-deep {
  // For encapsulated components OUTSIDE the :host element

  // style selects

  // change calendar day hover background-color
  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
    --form-icons-shade-color: #{palette-color('primary', 0.3)};

    background-color: var(--form-icons-shade-color);
  }

}
