:host {
	// Default variables
	--page-title-color: #{palette-color('grey-9')};
	--page-text-color: #{palette-color('grey-8')};
	--page-spacing: 10px;
  }

  .home-page {
	position: relative;
	min-height: 100vh;

	.form-section {
		position: absolute;
		text-align: center;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);

		.page-title {
		color: var(--page-title-color);
		}

		.page-subtitle {
		color: var(--page-text-color);
		font-size: 18px;
		}

	}

}
