/* You can add global styles to this file, and also import other style files */
@import './assets/palettes/shared.scss';
@import './assets/table-basic-styles.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-raised-button, .mat-menu-panel, .mat-menu-item {
	background-color: #D7DBDD;
	&:hover {
		filter: brightness(94%);
	}
}

.mat-raised-button {
	margin: 16px!important;
	padding: 0 36px 0 36px!important;
}