<div class="section-card">
	<!-- Table for Address -->
	<div class="filter-wrapper">
		<div class="input-group">
			<input matInput type="text" class="form-control" (keyup)="applyFilterAddress($event.target.value)" placeholder="Filtrar por qualquer informação...">
		</div>
	</div>

	<div class="table-wrapper table-responsive">
		<table mat-table #table class="table table-borderless" [dataSource]="dataSourceAddress"
		matSort #sort="matSort" matSortActive="dateRegister" matSortDirection="desc" matSortDisableClear>

			<ng-container matColumnDef="cep">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> CEP </th>
				<td mat-cell *matCellDef="let row"> {{row.addressResponse.cep}} </td>
			</ng-container>

			<ng-container matColumnDef="address">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Endereço</th>
				<td mat-cell *matCellDef="let row"> {{row.address}} </td>
			</ng-container>

			<ng-container matColumnDef="date">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
				<td mat-cell *matCellDef="let row"> {{row.dateRegister.toDate()|date:'dd/MM/yyyy HH:mm:ss'}} </td>
			</ng-container>

			<ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let row" (click)="deleteAddress(row.id)">
					<button mat-icon-button color="warn" aria-label="Remover do histórico">
						<mat-icon>delete</mat-icon>
					</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;">
			</tr>
		</table>

		<mat-paginator #paginator class="table-paginator"
			[pageSize]="10">
		</mat-paginator>
	</div>
</div>