@import '../../../assets/table-basic-styles.scss';

:host {
  // Default variables
  --page-title-color: #{palette-color('primary')};
  --page-padding: 60px 40px;
  --page-spacing: 10px;
  --section-card-background: #{palette-color('white')};
  --form-icons-color: #{palette-color('primary')};

  --form-input-background: #{palette-color('grey-0')};
  --form-input-color: #{palette-color('grey-9')};
  --form-input-placeholder-color: #{palette-color('grey-5')};
}

.section-card {
  padding: calc(var(--page-spacing) * 4);
  background-color: var(--section-card-background);
  margin: 0px;
  margin-bottom: calc(var(--page-spacing) * 4);
  border-radius: 6px;

  .filter-wrapper {
    padding: 0px calc(var(--page-spacing) * 2) calc(var(--page-spacing) * 3);

    .form-control {
      color: var(--form-input-color);

      &::placeholder {
        font-size: 16px;
        color: var(--form-input-placeholder-color);
      }
    }
  }


  .table-wrapper {
    @include table-basic-styles();

    th.mat-header-cell {
      border: none;
    }

    td.mat-cell {
      vertical-align: middle;

      &[cell-name = 'status'] {
        &[cell-value = 'Completed'] {
          color: var(--status-completed-color);
        }
        &[cell-value = 'In Progress'] {
          color: var(--status-in-progress-color);
        }
        &[cell-value = 'Canceled'] {
          color: var(--status-canceled-color);
        }
      }
    }
    .table-paginator {
      margin-top: calc(var(--page-spacing) * 2);

    }
  }
}


::ng-deep {
  // For encapsulated components OUTSIDE the :host element

  // change calendar day hover background-color
  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
    --form-icons-shade-color: #{palette-color('primary', 0.3)};

    background-color: var(--form-icons-shade-color);
  }

}
